:root {
	--grey: #6B7280;
	--purple: #552583;
    --gold: #f9a01b;
    --black: #000000;
    --blue: #0000FF;
    --white: #FFFFFF;
  --dark: #374151;
  --darkest: #111827;
  --pink: #EC4899;


}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "times new Roman",sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 2000;
	color: #ffe5b4;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
input{
  appearrance: none;
  outline: none;
  border: none;
}  

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--gold);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--white);
	font-size: 1.25rem;
  background-image: linear-gradient(to right, var(--gold), var(--white));
	background-clip: background;
  -webkit-background-clip: background;
  	-webkit-text-fill-color: var(--black);
}


#new-task-input::placeholder {
	color: var(--black);
}

#new-task-submit {
	color: var(--white);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--gold), var(--blue));
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: #ffe5b4;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--gold);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#task.task .content .text {
	color: var(--white);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--blue);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--purple), var(--blue));
	background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	background-image: linear-gradient(to right, var(--purple), var(--blue));
	background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
